extends layout
block content
  table(class='gridtable')
    tr
      th Id
      th Username
      th Password
      th User Level
      th Email
      th Age
      th Question #1
      th Question #2
      th Question #3
      th 
      th 
      each item in people
        tr
          td
            a(href='/details/' + user.id) #{user.id}
          td #{user.username}
          td #{user.password}
          td #{user.level}
          td #{user.email}
          td #{user.age}
          td #{user.q1}
          td #{user.q2}
          td #{user.q3}
          td
            a(href='/edit/' + user.id) Edit
          td
            a(href='/delete/' + item.id) Delete

  p
  #menu
    //- a(href='/create') Add New Person
    //- i removed the edit user link and add new user link because the admin shouldnt have that ability  only users can edit their own information
    //- br 
    //- a(href='/edit') Edit Existing User
    //- br
    a(href='/logout') Logout
    