extends layout
block content
  table(class='gridtable')
    tr
      th Id
      th Username
      th Password
      th User Level
      th Email
      th Age
      th Question #1
      th Question #2
      th Question #3
      th 
      th 
      each item in people
        tr
          td #{item.id}
          td #{item.username}
          td #{item.password}
          td #{item.level}
          td #{item.email}
          td #{item.age}
          td #{item.q1}
          td #{item.q2}
          td #{item.q3}
          td
            a(href='/delete/' + item.id) Delete

  p
  #menu
    //- a(href='/create') Add New Person
    //- i removed the edit user link and add new user link because the admin shouldnt have that ability  only users can edit their own information
    //- br 
    //- a(href='/edit') Edit Existing User
    //- br
    a(href='/logout') Logout
    