extends layout
block content
  table
    tr(id='tableHeader')
      th Id
      th Username
      th Password
      th User Level
      th Email
      th Age
      th Question #1
      th Question #2
      th Question #3
      th 
      each item in people
        tr
          td #{item.id}
          td #{item.username}
          td #{item.password}
          td #{item.admin}
          td #{item.email}
          td #{item.age}
          td #{item.answerOne}
          td #{item.answerTwo}
          td #{item.answerThree}
          td
            a(href='/delete/' + item.id) Delete

    a(href='/logout') Logout
    