doctype html
html
    head
        block vars
        title #{title}
        link(href = './style.css', rel='stylesheet')
    body
        header
        div(id='content', class='item')
            h1 #{title}
            h3 #{description}
            block content
                p
        footer
            //script var oneData = "#{question_data.oneAnswers}"
            //script var twoData = "#{question_data.twoAnswers}"
            //script var threeData = "#{question_data.threeAnswers}"