extends layout

block content
  p Hello world
    #{person.username}

  tr(id='tableHeader')
      th Id
      th Username
      th Password
      th User Level
      th Email
      th Age
      th Question #1
      th Question #2
      th Question #3
      th
        tr
          td #{person.username}
          td #{person.password}
          td #{person.admin}
          td #{person.email}
          td #{person.age}
          td #{person.answerOne}
          td #{person.answerTwo}
          td #{person.answerThree}