extends layout
block content
  p Hello #{username}
  p #{un}
  table
    tr(id='tableHeader')
        th Id
        th Username
        th Password
        th User Level
        th Email
        th Age
        th Question #1
        th Question #2
        th Question #3
        th
          tr
            td #{username}
            td #{password}
            td #{admin}
            td #{email}
            td #{age}
            td #{answerOne}
            td #{answerTwo}
            td #{answerThree}
            td
              a(href='/delete/' + id) Delete

        a(href='/logout') Logout